body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  min-width: 300px;
}

h1 {
  color: #416093;
}

#sp500-price {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

#update-time {
  font-size: 12px;
  color: #888;
}
